/* Hamburger Menu*/

#MenuContainer {
    margin-left: 0.7em;
}
.menu > * {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    cursor: pointer;
z-index: 300;
}


.menu > li {
    overflow: hidden;
}


#rooms {
    color: white;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
    margin: 0;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}



/* Phone on the side */

@media (max-width: 769px) or (max-height: 600px){
    .menu-button-container {
        display: flex;
    }
    .menu {
        z-index: 3;
        position: absolute;
        top: 0;
        margin-top: 65px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height .3s ;
    }
    #menu-toggle:checked ~ .menu li {
        outline: 1px solid #666666;
        height: 4em;
        transition: height .75s ;
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        color: white;
        background-color: #222;
    }

    .menu > li:hover {
        background-color: #414141;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    #menu-toggle:checked ~ .menu li:nth-child(2) {
        transition-delay: .25s;
    }
    #menu-toggle:checked ~ .menu li:nth-child(3) {
        transition-delay: .5s;

    }

    li a {
        width: 100%;
        height: 100%;
        padding: 1.4em;
        text-align: center;
    
        outline: 2px red solid;
    }
}



@media (min-width: 769px) and (min-height: 600px){

        #mainHeader {
            margin-left: min(2em, 3%);
            max-width: 200px;
        }
        .menu {
            font-size: min(1em, 1.6vw);
            display: flex;
            justify-content: end;
    
        }
        #MenuContainer {
            width: 80%;
            height: 100%;
        }
        .menu_li {
            width: max-content;
            align-self: last baseline;
            margin-inline: 1em;
        }
    
            .menu_li {
                background: linear-gradient(currentColor 0 0) 
                  bottom left/
                  var(--underline-width, 0%) 0.1em
                  no-repeat;
                padding-bottom: .3em;
                color: white;
                transition: background-size 0.5s;
              }
              
              .menu_li:hover {
                --underline-width: 100%;
              }
    
    
}
