* {
    margin: 0;
    padding: 0;
  }


  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
  }

  h1,h2,h3,h4 {
    font-family: 'Pangolin', cursive;

  }

  
  a:link, a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .centerWithFlexbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
